:root {
  --black-color: #0f172a;
  --blue-color: #1e293b;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--black-color);
  color: var(--white-color);
  font-family: "Bitcount Prop Double", system-ui, sans-serif;
}

/* ========== 
  App Layout
========== */
.app,
.game-view,
.start-screen {
  text-align: center;
  margin: 2rem auto 0 auto;
  max-width: 450px;
  padding: 2rem;
  background: var(--blue-color);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

/* ========== 
  Text
========== */

.app-name {
  margin-bottom: 2rem;
}

.app-description {
  background-color: var(--black-color);
  font-family: system-ui, sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  font-style: italic;
  opacity: 0.75;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  width: 75%;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.difficulty-heading {
  margin: 2rem 0 1rem;
}

.gameover {
  color: red;
  font-weight: bold;
}

/* ========== 
  Buttons
========== */
button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--blue-color);
  border: 1.5px solid transparent;
  color: var(--white-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  transition: 300ms ease all;
}

.easy:hover, .medium:hover, .hard:hover,
.easy:focus, .medium:focus, .hard:focus {
  border-color: var(--white-color);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

button:active {
  opacity: 0.75;
  transform: scale(0.975);
}

/* Selected difficulty */
button.selected {
  background-color: var(--black-color);
}

button.selected.easy {
  border-color: #22c55e;
  box-shadow: 0 0 1rem #22c55e;
}

button.selected.medium {
  border-color: #f59e0b;
  box-shadow: 0 0 1rem #f59e0b;
}

button.selected.hard {
  border-color: #ef4444;
      box-shadow: 0 0 1rem #ef4444;
}

.start-btn {
  background: #22c55e;
  color: white;
  font-weight: bold;
  border: 1.5px solid transparent;
}

.start-btn:hover,
.start-btn:focus {
  background: #16a34a;
}

.start-btn:active {
  box-shadow: 0 0 1rem #22c55e;
}

/* ========== 
  Scoreboard
========== */
.scoreboard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

/* ========== 
  Progress Bar 
========== */
.progress-bar {
  width: 75%;
  height: 0.5rem;
  background: #334155;
  border-radius: 5px;
  margin: 2rem auto;
  overflow: hidden;
  border: 0.5px solid var(--black-color);
}

.progress-bar .fill {
  height: 100%;
  background: #22c55e;
  transition: width 600ms ease;
}

/* ========== 
  Lives
========== */
.lives {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.heart img {
  width: 2rem;
  height: auto;
}

/* ========== 
  Grid
========== */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

/* ========== 
  Color Buttons
========== */
.color {
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.color:hover {
  transform: scale(1.05);
}

.color:active {
  transform: scale(0.95);
}

/* ========== 
  Colors
========== */
.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}

/* ========== 
  Flash effect
========== */
.color.active {
  transform: scale(0.85);
}

/* ========== 
  Disabled buttons
========== */
.color:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ========== 
  Lables
========== */
label {
  display: block;
  margin: 10px 0;
}
